.title{
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.listTitle{
  font-weight: bold;
  font-size: 3rem;
}
.itemTitle{
  display: flex;
  justify-content: space-between;
  padding:1rem;
}
.tableContainer{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.paginationContainer{
  width: 90%;
  margin: 0 auto;
}
.statusContainer{
  font-size: 0.7rem;
  border-radius: 30px;
  display: inline;
  padding: 0.5rem;
}
.activeStatus{
  background-color: #EBFFF1;
  color: #0FBD66;
}
.inActiveStatus{
  background-color: #FCEEEE;
  color:#DC362E;
}
.unknownStatus{
  background-color: #F1F1F1;
  color: #242424;
}
.addBtn{
  background-color: #242424;
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}